`
<p>
  <strong>BV Link</strong><br/>
/go/bovada/2083
<br/>
<strong>Accordion name</strong><br/>
${data.visitingTeam} @ ${data.homeTeam} ${data.mainSports} ${data.today}<br/>
- Check back later or here live at the <a href="/go/bovada/2083">sportsbook</a>
</p>

<p><strong>Tags</strong><br/>
  ${data.mainSports}, ${data.sportsData}, Daily Props, ${data.visitingTeam}, ${data.homeTeam}, ${data.STADIUM_HERE}, PLAYER_NAME_01, <br/>
<strong>Featured Image Caption</strong><br/>
  (Photo by Getty Images) PLAYER_NAME_01<br/>
  <strong>URL</strong><br/>
${data.citynameFull} ${data.mainSports} game odds &amp; player props picks predictions ${data.today}<br/>
<strong>Title </strong><br/>
${data.citynameFull} ${data.mainSports} Game Odds, Player Props &amp; Predictions on PLAYER_NAME_01<br/>
<strong>Excerpt </strong><br/>
The ${data.visitingTeam} and the ${data.homeTeam} will both be gunning for a victory on ${data.TODAY_HERE} when they meet at ${data.STADIUM_HERE}. <br/>
The ${data.visitingTeam} and the ${data.homeTeam} will both be trying to pick up a win on ${data.TODAY_HERE} when they battle at ${data.STADIUM_HERE}. <br/>
The ${data.visitingTeam} and the ${data.homeTeam} will meet on the court at ${data.STADIUM_HERE} on ${data.TODAY_HERE}. <br/>
The fans at ${data.STADIUM_HERE} will be treated to a game between the  ${data.visitingTeam} and the  ${data.homeTeam} when they take their seats on ${data.TODAY_HERE}.<br/>
The ${data.visitingTeam} and the ${data.homeTeam} will be battling on the court at ${data.STADIUM_HERE} on ${data.TODAY_HERE} in ${data.mainSports} Action.<br/>
${data.STADIUM_HERE} has a contest on tap for ${data.TODAY_HERE} as the ${data.visitingTeam} and the ${data.homeTeam} will both be trying to pick up a win.<br/>
The ${data.visitingTeam} and the ${data.homeTeam} will meet on the court at ${data.STADIUM_HERE} on ${data.TODAY_HERE} in a battle of division rivals.<br/>
The division rival ${data.visitingTeam} and ${data.homeTeam} will meet on the court on ${data.TODAY_HERE} at ${data.STADIUM_HERE}.<br/>
<strong>Featured Headline</strong><br/> 
${data.visitingTeam} @ ${data.homeTeam} ${data.mainSports} Odds &amp; Props </p>

<div class="custommenu">[do_widget id=jp_dropdown_menu_widget-6]</div>
<p>START CONTENT_HERE </p>

<p><strong> ${data.mainSports} Matchup: </strong> ${data.visitingTeam} @ ${data.homeTeam} <br/>
  <strong>When: </strong> ${data.time}, ${data.date}<br/>
  <strong>Where: </strong> ${data.STADIUM_HERE}, ${data.STATE}, ${data.CITY}<br/>
<strong>Where to watch: </strong>TV_HERE</p>
<p><strong>${data.visitingTeam} @ ${data.homeTeam}<br/>
Moneyline</strong><br/>
${data.visitingTeam}&nbsp;&nbsp;<a href="/go/bovada/2083">-135</a><br/>
${data.homeTeam}&nbsp;&nbsp;<a href="/go/bovada/2083">+115</a></p>
<p><strong>${data.visitingTeam} @ ${data.homeTeam}<br/>
  Point Spread</strong><br/>
  ${data.visitingTeam} &nbsp;&nbsp;<a href="/go/bovada/2083">0.0 (-110)</a><br/>
${data.homeTeam} &nbsp;&nbsp;<a href="/go/bovada/2083">0.0 (-110)</a></p>
<p> <strong>${data.visitingTeam} @ ${data.homeTeam}<br/>
  Total</strong><br/>
  Over &nbsp;&nbsp;<a href="/go/bovada/2083">45.5 (-110)</a><br/>
Under &nbsp;&nbsp;<a href="/go/bovada/2083">45.5 (-110)</a></p>

[sp_easyaccordion id="3333"]

<h4>${data.sportsData} Props Picks &amp; Free Predictions</h4>
<p><strong>${data.mainSports} Props Pick</strong>: <a href="/go/bovada/2083" title="${data.visitingTeam} @ ${data.homeTeam} Predictions"> PREDICTIONS_HERE</a><br/>
<em>A $100 Bet on that Props will return $100 in Profit </em></p>
<p><em>${data.mainSports} Odds &amp; Props source: <a href="/go/bovada/2083">Bovada Sportsbook</a></em></p>

[bucket id="10948" title="Bovada Sports ${data.mainSports} 468×60 Props"]
[bucket id="2948" title="002 - Teaser 02"]   
` 