`
<p> ${data.visitingTeam} vs ${data.homeTeam} </p>
<p>by ${data.author}</p>
<h2> ${data.vs} </h2>


<p>
  <strong>Time: </strong>${data.time}<br>
  <strong>Date: </strong>${data.date}<br>
  <strong>Where: </strong>${data.where}<br>
  <strong>Watch on: </strong> ${data.TV}<br>
  <strong>Opening Spread: </strong><a href="Live-NBA-Basketball-Betting-Odds-and-Scores_P3949.html" title="Live NBA Basketball Betting Odds & Scores"> TEAM_NAME -7</a><br>
  <strong>Opening Moneyline: </strong><a href="Live-NBA-Basketball-Betting-Odds-and-Scores_P3949.html" title="Live NBA Basketball Betting Odds & Scores"> TEAM_NAME -200</a><br>
  <strong>Opening Total O/U: </strong><a href="Live-NBA-Basketball-Betting-Odds-and-Scores_P3949.html" title="Live NBA Basketball Betting Odds & Scores">231</a>
</p>
<p>${data.firstParaGraph}</p>
<h2> ${data.visitingTeam} vs ${data.homeTeam} Betting Stats</h2>
<div class="responsive_table">
  <table>
    ${data.recentForm}
  </table>

  <table>
    ${data.recentForm}
  </table>
</div>
<h2> Team Last 5 Games</h2>
<div><strong>${data.visitingTeam}</strong></div>
<div class="responsive_table_last5">
  <table>
    ${data.last5VisitingTable}
  </table>
</div>
<div><strong>${data.homeTeam}</strong></div>
<div class="responsive_table_last5">
  <table>
    ${data.last5HomeTable}
  </table>
</div>

<div align="center">&nbsp;</div>
##IDOBJECT=4433##
<div align="center">&nbsp;</div>
<h2> ${data.visitingTeam} vs ${data.homeTeam} Betting Trends & Predictions</h2>
<div class="responsive_table_trends">
  <table>
    ${data.trendsVisiting}
  </table>
</div>
<div class="responsive_table_trends">
  <table>
    ${data.trendsHome}
  </table>
</div>
##IDOBJECT=3201##
<p>
  <strong>NBA Predictions:</strong><a href="https://record.revenuenetwork.com/_8wox76vbpaPYeeTl458XSWNd7ZgqdRLk/${data.partnerID}/" title="Las Vegas Sports Betting NBA Predictions" rel="nofollow"> TEAM_NAME -7</a><br>
  <strong>Total O/U: </strong> <a href="https://record.revenuenetwork.com/_8wox76vbpaPYeeTl458XSWNd7ZgqdRLk/${data.partnerID}/" title="Las Vegas Sports Betting NBA Total Predictions" rel="nofollow"> Over 231</a><br>
  <strong> ##IDOBJECT=4476##</strong>
</p>
<h2> Today's NBA Basketball Daily Betting Prop Bets</h2>
##SUBPAGE=31410##
<p align="center">
  <script type="text/javascript"src="https://js.revenuenetwork.com/javascript.php?prefix=8wox76vbpaONe_S1w7rqVWNd7ZgqdRLk&media=1534&campaign=${data.partnerID}"></script>
</p>
##IDOBJECT=3389##
`