`
<strong>BV Link </strong><br />
    /go/bovada/2003
    <br />
    
    <strong>For Title </strong><br />
    https://www.cbssports.com/nba/scoreboard/<br />
    <strong>Title </strong><br /> 
    <br />

    <strong>Tags </strong> <br />
    <p>${data.t1tag1} , ${data.t1tag2} , ${data.t1tag3} , ${data.t2tag1}, ${data.t2tag2}, ${data.t2tag3}</p>
    <br />


    <strong>Featured Image Caption</strong><br />
    <br />


    
    <strong>URL</strong><br />
    <br />


    <p><strong>Excerpt </strong><br /></p>
    ${data.excerpt}
    <br />
    
    
    <p><strong>Featured Headline</strong><br /></p>
    <br />


    <div class="custommenu">[do_widget id=jp_dropdown_menu_widget-6]</div>
    <p>START CONTENT_HERE </p>
    <strong>When: </strong>${data.when}<br>
    <strong>Where: </strong>${data.where}<br>
    <strong>Where to watch: </strong><br>
    
    <p><strong>Points Team Leaders:</strong><br />
        <strong>TEAM_01:</strong>${data.team1name}    ${data.team1PPG} PPG <br />
        <strong>TEAM_02:</strong>${data.team2name}    ${data.team2PPG} PPG <br/>
   </p>
  
    [bucket id="3273" title="003 - Teaser 03"]
    
    <h4>by FLM</h4>
    <div>
        ${data.first3Para}
    </div>

    <h4>Betting Odds Trends</h4>
    <div class="responsive_table_trends">
        <table>
          ${data.trendsVisiting}
        </table>
      </div>
      <div class="responsive_table_trends">
        <table>
          ${data.trendsHome}
        </table>
    </div>
    <br/>

    <h4>NBA Parlay Picks &amp; Free Predictions</h4>
    [bucket id="3038" title="Bovada Sports NBA 468×60 Articles"]   
` 